body {
    background-color: lightblue;
    background: yellow;
    margin: 0;
    padding: 20px;
  }

  h1 {
    color: navy;
    margin-left: 20px;
  }  
.content {
    display: flex;
    margin: 40px;
    }
.content-left {    
    width: 60%;
    background: white; 
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
  }
  .content-right {    
    width: 35%;
    background: white; 
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
  }
.profile-image {
    width: 300px;
  } 
