 body {
    background-color: lightblue;
    background: yellow;
    margin: 0;
    padding: 20px;
  }
  .header {
    background-color:aliceblue;
    padding: 10px;
    text-align: right;
} 
   .header a {
    color:rebeccapurple;
    margin-left: 20px;
} 
 table, th, td { 
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td { 
    padding: 12px;
  } 
th {
    text-align: left;
    background-color: blue;
    font-weight: bold;
    color: white;
    } 
tr:nth-child(even) {
    background-color: blueviolet;
    }
tr:nth-child(odd) {
    background-color: rgb(62, 184, 245);
    }